<div class="flex justify-between items-center mt-2 mb-5">
  <h1 class="flex items-center mb-0">
  Share Password
  </h1>
</div>

<%= render "form", password: @password, user_password: @user_password %>
