<%= link_to password, id: dom_id(password), class: "py-4 px-10 no-underline flex justify-between hover:bg-gray-100" do %>
  <div class="text-gray-500"><%= password.url %></div>
  <div><%= password.username %></div>
<% end %>
