<div class="flex justify-between items-center mb-5">
  <h1 class="mb-0">Password Manager</h1>
  <%= link_to "New Password", new_password_path, class:"px-4 py-1 bg-indigo-300 no-underline rounded-md" %>
</div>

<%= render @passwords %>
