@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
.my-buttons {
  padding: 0.25rem 1rem;
  background-color: rgb(165 180 252);
  text-decoration: none;
  border-radius: 0.375rem;
}

.copy-button {
  padding: 0.25rem 1rem;
  color: black;
  background-color: rgb(175, 175, 175);
  text-decoration: none;
  border-radius: 0.375rem;
}
